<section class="container">
  <h1>Products component</h1>
  <h3>Rta:</h3>
  <button class="btn-promise" (click)="callPromise()">Call promise</button>
  <p class="btn-rta">{{ rta }}</p>
  <div class="my-grid">
    <figure>
      @for (product of products(); track $index) {
      <app-product [product]="product"></app-product>
      }
    </figure>
  </div>
  <button [disabled]="status === 'loading'" (click)="getAllProducts()">
    @if (status === 'init' || status === 'loaded') {
        <span>Load more</span>
    } @else if (status === 'loading') {
        <span>Loading...</span>
    } @else if (status === 'error') {
        <span>Try again</span>
    }
  </button>
</section>
