<header class="container">
  <h1>Angular testing</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque saepe iure id dolore numquam quam cum, libero consequatur facilis aut debitis voluptatibus consectetur non maxime aliquam ipsum dolorem in totam.</p>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/pico-preview">Pico preview</a></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>